.profile__rectangle_function_edit {
  width: 24px;
  height: 24px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 3%;
  box-sizing: border-box;
  background: transparent;
  z-index: 1;

}
.profile__rectangle_function_edit:hover {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .profile__rectangle_function_edit {
    width: 18px;
    height: 18px;
    margin: 0;
    margin-top: 3%;
  }
}
