.profile__rectangle_function_add {
  height: 50px;
  width: 150px;
  border: solid 1px white;
  box-sizing: content-box;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  background: transparent;
  z-index: 1;
}
.profile__rectangle_function_add:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .profile__rectangle_function_add {
    margin-left: 0;
    width: 100%;
    box-sizing: content-box;
    padding:0;
  }
}
