.profile__add-button {
    width: 22px;
    height: 22px;
    background-image: url(../../../images/add__button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; /* элемент span теперь сможет принимать определённую ширину и высоту */
    vertical-align: middle; /* элемент и текст будут правильно выровнены по вертикали. Работает в паре с inline-block */
    border: none;
}

.invisible:hover + .profile__add-button {
    opacity: 0.6;;
}