.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  top: -17%;
  right: 0;
  background-image: url(../../../images/Close.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.popup__close:hover {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
  }
}
