.popup__container {
  background-color: white;
  color: black;
  width: 430px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .popup__container {
    max-width: 282px;
  }
}
