.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 60%;
}
@media (max-width: 1023px) {
  .profile__info {
    flex-basis: 40%;
  }
}
@media (max-width: 767px) {
  .profile__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
