.elements__heart {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.elements__heart:hover {
  opacity: 0.5;
}
.elements__heart:active {
  background-image: url(../../../images/heart-active.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
